version: '3.5'

services:
  front:
    container_name: frontend
    build:
      context: ./front
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    restart: always
    networks:
      - web_app

  backend:
    container_name: backend
    build:
      context: .
      dockerfile: Dockerfile-back
    ports:
      - "80:80"
    restart: "always"
    networks:
    - web_app

networks:
  web_app:
    name: web_app
